.navigation {
    margin-top: 10px;
  }

  .back-button {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #231F20;
    font: 700 18px Roboto, sans-serif;
    background: none;
    margin-top: 26px;
    border: none;
    cursor: pointer;
  }

  .back-icon {
    width: 11px;
    aspect-ratio: 0.58;
  }
