<div class="container" style="margin-top: 20px;">
<nav class="navigation" role="navigation">
    <button class="back-button" aria-label="Go back" (click)="goBack()">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/9c1d18d5027b8b712609c1a56d06afaadc5e1806ae6a95d074a63a0f38f4b7dc?placeholderIfAbsent=true&apiKey=b81512dc83464a56bbea3c6885bcf603" alt="" class="back-icon" />
    </button>
  </nav>
<div  style="width: 100%;
display: flex
;
justify-content: center;
align-items: center;
margin-top: 11%">
    <div style="height: 70%;width: 80%;display: flex;justify-content: center;align-items: center;" > <!-- Prevent click from closing the modal -->
      <img src="https://linkmyte.ai/qrcode-generate?short_code=${{qrCodeUrl}}" style="height: 100%;width: 100%" />
    </div>
  </div>
</div>