.navigation-container {
    max-width: 351px;
    margin: 0 auto;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .navigation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(34, 34, 34, 0.4);
    font: 600 10px/1 'Open Sans', sans-serif;
    cursor: pointer;
    transition: color 0.2s ease;
  }

  .navigation-item:focus {
    border-radius: 4px;
  }

  .navigation-item.active {
    color: rgba(94, 13, 211, 1);
  }

  .navigation-icon {
    width: 18px;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
  }

  .navigation-label {
    margin-top: 4px;
    white-space: nowrap;
    text-align: center;
  }.scanner-container {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width:200px;
    border: 2px solid #a00d0d;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
  }
  
  .qr-code-scanner {
    width: 100%;
    max-width: 300px;
    height: 100%;
    object-fit: cover;
  }
  