body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    padding: 20px;
}
.code-input {
    width: 50px;
    height: 50px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 8px;
    margin: 0 5px;
    font-size: 24px;
    text-align: center;
}
.btn-continue:disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
  }
  
.btn-continue {
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 0;
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
}

.resend-code {
    color: #6200ea;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resend-code i {
    margin-right: 5px;
}
.info-text {
    color: #a0a0a0;
    margin-top: 20px;
}
.loader {
    width: 34px;
    height: 18.6px;
    --c: linear-gradient(#fff 0 0);
    --r1: radial-gradient(farthest-side at bottom, #fff 93%, #fff0);
    --r2: radial-gradient(farthest-side at top, #fff 93%, #fff0);
    background: var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2);
    background-repeat: no-repeat;
    animation: l2 1s infinite alternate;
    margin: auto;
  }
  
  @keyframes l2 {
    0%, 25% {
      background-size: 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
      background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
    }
    50% {
      background-size: 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
      background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
    }
    75% {
      background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
      background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
    }
    95%, 100% {
      background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px;
      background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(0% - 2px), 100% calc(100% + 2px);
    }
  }
  