<div class="container mt-3 " style="background-color: #F1F1F1;">
    <article class="user-card" *ngFor="let card of cards" role="article" style="margin-top: 20px;margin-bottom: 10px;">
        <section class="user-info">
          <div class="user-details">
            <h2 class="user-name">Ayantoye David</h2>
            <p class="card-status">Free Cards</p>
            <p class="card-count">1/3 Cards</p>
          </div>
        </section>
        <section class="avatar-container" (click)="openModal(card.short_code)">
          <!-- QR Code image with click event -->
          <img [src]="qrCode" class="avatar-image"  />
        </section>
      </article>
      
      <!-- Modal to display the enlarged QR Code -->
      <div  class="modal" (click)="closeModal()" style="width: 100%;background-color: black;">
        <div style="height: 100vh;" (click)="$event.stopPropagation()"> <!-- Prevent click from closing the modal -->
          <img [src]="selectedQrCode" class="modal-image" />
        </div>
      </div>
      
      
    
    <div class="profile-wrapper">
        <article class="profile-content" *ngFor="let data of cards">
            <div class="card-container">
                <div class="card-wrapper">
                    <div class="card">
                        <div class="profile-details">
                            <div class="avatar" role="img" aria-label="Profile avatar"></div>
                            <h1 class="profile-name">{{data.first_name}}</h1>
                            <span class="profile-badge" role="status">Event</span>
                            <img loading="lazy"
                                src="https://cdn.builder.io/api/v1/image/assets/TEMP/a12a79459221869d9e535f805f7360176ae057b1e8d1c459ced3088af19e33ec?placeholderIfAbsent=true&apiKey=b81512dc83464a56bbea3c6885bcf603"
                                class="profile-stats" alt="Profile statistics and metrics" />
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </div>
    <button class="btn create-card-btn w-100" routerLink="/new-card">
        Create a new card
        <i class="fas fa-plus">
        </i>
    </button>
</div>